doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/Styles/global.css")
    body 
        .container
            include ../Components/_navbar

            block content

            include ../Components/_footer